force-app/main/default/flows/factura.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>trae factura a oportunidad</description>
        <name>facturEnOpportunity</name>
        <label>facturEnOpportunity</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>factura.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>factura.tipo_de_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.tipo_de_servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>factura.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>factura.DETALLE_FACTURA_ForceTransport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>detalleFactura.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>guardarFactura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>traigo datos</description>
        <name>setDatos</name>
        <label>setDatos</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>detalleFactura.tipo_de_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.tipo_de_servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.VEHICULO_ForceTransport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VEHICULO_ForceTransport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.fecha_de_retiro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Retiro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.Precio_por_KM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VEHICULO_ForceTransport__r.Precio_por_KM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.Precio_por_Pasajero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VEHICULO_ForceTransport__r.Precio_por_Pasajero__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.FACTURA_ForceTransport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>traerFactura.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>guardarViajes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>traigo las variables</description>
        <name>setearDatos</name>
        <label>setearDatos</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>detalleFactura.tipo_de_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VEHICULO_ForceTransport__r.tipo_de_servicio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.VEHICULO_ForceTransport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VEHICULO_ForceTransport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.fecha_de_retiro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Retiro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.Fecha_de_Devolucion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fecha_de_Devolucion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.Total_de_dias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.diasTotales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.Precio_por_Dia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VEHICULO_ForceTransport__r.Precio_por_Dia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.FACTURA_ForceTransport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>traerFactura.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>detalleFactura.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>guardarAlquiler</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>dependiendo del tipo de servicio datos a setear</description>
        <name>tipoDeServicio</name>
        <label>tipoDeServicio</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>setDatos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>alquilerDeVehiculos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VEHICULO_ForceTransport__r.tipo_de_servicio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALQUILER DE VEHICULO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setearDatos</targetReference>
            </connector>
            <label>alquilerDeVehiculos</label>
        </rules>
    </decisions>
    <interviewLabel>factura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>factura</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>guardarAlquiler</name>
        <label>guardarAlquiler</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>relacionDetalle</targetReference>
        </connector>
        <inputReference>detalleFactura</inputReference>
    </recordCreates>
    <recordCreates>
        <description>guardo factura</description>
        <name>guardarFactura</name>
        <label>guardarFactura</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>traerFactura</targetReference>
        </connector>
        <inputReference>factura</inputReference>
    </recordCreates>
    <recordCreates>
        <name>guardarViajes</name>
        <label>guardarViajes</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>relacionDetalle_0</targetReference>
        </connector>
        <inputReference>detalleFactura</inputReference>
    </recordCreates>
    <recordLookups>
        <description>traigo factura</description>
        <name>traerFactura</name>
        <label>traerFactura</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tipoDeServicio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FACTURA_ForceTransport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>relacionDetalle</name>
        <label>relacionDetalle</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DETALLE_FACTURA_ForceTransport__c</field>
            <value>
                <elementReference>detalleFactura.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FACTURA_ForceTransport__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>relacionDetalle_0</name>
        <label>relacionDetalle</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DETALLE_FACTURA_ForceTransport__c</field>
            <value>
                <elementReference>detalleFactura.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FACTURA_ForceTransport__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>facturEnOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>detalleFactura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DETALLE_FACTURA_ForceTransport__c</objectType>
    </variables>
    <variables>
        <description>id de factura</description>
        <name>factura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FACTURA_ForceTransport__c</objectType>
    </variables>
</Flow>
